
#homepage {
    height:100vh;
    background-image: url("https://media.istockphoto.com/photos/business-cards-stock-illustration-picture-id1309884850?b=1&k=20&m=1309884850&s=170667a&w=0&h=OgY9k_oZwDYs8E6gdG-20cmX3Kv_WCDnCqxG9BmCoIs=");
    background-size:cover;
    background-repeat: no-repeat;
    position:relative;
    
}
#title{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    font-family:  Open Sans;
}
#h{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
    font-size: 33px;  
    font-family:  Open Sans;
}
#aboutimg{
  display: block;
  margin: 2rem auto;
  border-radius: 50%;
  width: 300px;
  height: 350px;
  object-fit: cover;
    
}

#aboutpage{
    background-color: #0077b6;
    border-radius: 10%;
    border: 3px black;
}
#contact{
    background-color: #0077b6;
    border-radius: 10%;
}
#portfolio{
    background-color: #0077b6;
    border-radius: 10%;
}
#skills{
    background-color: #0077b6;
    border-radius: 10%;
}


form{
    border-style:solid;
    margin: 5px;
    padding: 20px;
    border-color: black;
    border-radius: 10px;
    background-color: white;
    color: black;
    box-shadow: 2px 2px black;
    
    
}
#form{
    display: flex;
  
    
    
}
#myDetails{
    display: flex;
    justify-content: flex-start;
    font-family: Rockwell;
    font-weight: bolder;
}

.card-img-tops{
    height: 150px;
    margin-top: 20px;   
}

.card:hover{
    border: 2px solid black;
    box-shadow: 3px 3px  black ;
}


#Title{
    color: black;
    border-radius: 20px;
    font-family:  Open Sans;

    }

.footer{
    margin-top: 8%;
    background-color: black;
    text-align: center;
    border-radius: 40px 40px 0px 0px;
}
.fa {
    padding: 20px;
    font-size: 35px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.5;
    color: white;
  }

  body{
    background-color: #eaebec;
  }
  p{
    font-family: Titillium Web;
    font-size: larger;
    color: black;
    font-weight: bold;
  }
  #aboutlist{
    font-family: Titillium Web;
    font-weight: bold;
    color: black;
  }
  .form-label{
    font-family: Rockwell;
    font-weight: bold;
  }
  input{
    box-shadow: 2px 2px  black;
    
  }
  select{
    box-shadow: 2px 2px black;
  }
  textarea{
    box-shadow: 2px 2px black;
  }

  #divabout{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
  }